@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgb(181, 255, 209), rgb(38, 228, 111));
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: rgb(255, 196, 0);
  padding: 80px;
}

.containers {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
